h6 {
    margin-bottom: 0px;
}

p {
    margin-bottom: 0px;
}

.merchDisplay {
    text-align: center;
}

h2 {
    text-align: center; 
    font-family: 'Varela Round', sans-serif;
}

.dropdown {
    width: 200px;
}

div {
    font-family: 'Varela Round', sans-serif;
}

.img-container{
    height: 350px;
    width: 275px;
    overflow: hidden;
    text-align: center;
    display: block;
    margin: auto;
}

.img-container img{
    margin-top: 30px;
    object-fit: cover;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-content{
    height: 100px;
    width: 100%;
    overflow: hidden;
}