<h3 class="title">Contact Us</h3>

<div class="container">
  <div class="row">

    <div class="col">
      For questions, comments, concerns, and commissions, please get in touch by filling out the contact form.
    </div>

    <div class="col">
      <!-- This gives your form a name and adds Event Listener: -->
      <form #contactForm="ngForm" (ngSubmit)="submit(content)">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstName" placeholder="Your name.." [(ngModel)]="contact.firstName">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastName" placeholder="Your last name.." [(ngModel)]="contact.lastName">

        <label for="lname">E-Mail</label>
        <input type="text" id="email" name="email" placeholder="Your e-mail address.." [(ngModel)]="contact.email" required>


        <label for="subject">Comments</label>
        <textarea id="comments" name="comments" placeholder="Write something.." style="height:200px" [(ngModel)]="contact.comments"></textarea>

        <input type="submit" value="Submit" class="btn btn-primary">
        <!-- Button trigger modal -->

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            </div>
          </ng-template>

        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thank You</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Thanks for contacting us!  We will be getting back to you shortly.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> -->

      </form>
    </div>

  </div>
</div>