.rightCol {
    text-align: justify;
}

.bioheading {
    margin-top: 60px;
}

h3 {
    text-align: center;
}

.selfPortrait {
    margin-top: 90px;
}

div {
    font-family: 'Varela Round', sans-serif;
}