h2 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.dropdown {
    width: 200px;
}

div {
    font-family: 'Varela Round', sans-serif;

}

.items {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
}

.img-container{
    height: 350px;
    width: 275px;
    overflow: hidden;
    text-align: center;
    display: block;
    margin: auto;
}
