.navBar {
    margin-left: auto;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.navbar-color {
    background-color: #565254;
    color: white;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: x-large;
}

body {
    background-color: #F5E2D4;
}

.nav-link {
    color: white;
}

.active-link{
    color: #A8C69F;
}

a:hover {
    color: #A8C69F;
}
