/* You can add global styles to this file, and also import other style files */
a {
    color: white;
}


img {
    border-radius: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 30px;
    border: thin black;
}

.btn {
    text-align: center;
}

h3 {
    text-align: center;
}

.footer {
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 60px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #F5E2D4;
  color: #7A7D7D;
}

.fa-instagram {
  background: #F5E2D4;
  color: #7A7D7D;
}

.fa-google {
  background:#F5E2D4;
  color: #7A7D7D;
}