/* You can add global styles to this file, and also import other style files */
.navBar {
    margin-left: auto;
    color: white;
}

.navbar-color {
    background-color: #001514;
    color: white;
}

a {
    color: white;
}


img {
    border-radius: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 30px;
    border: thin black;
}

.btn {
    text-align: center;
}


button {
    background-color: #001514;
    color: white;
}


h3 {
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 60px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
      opacity: 0.7;
}

.fa-facebook {
    background: white;
    color: #A3320B;
  }

.fa-instagram {
    background: white;
    color: #A3320B;
}

.fa-google {
    background: white;
    color: #A3320B;
  }

.footer {
    text-align: center;
}